body {
    font-family: sans-serif;
    margin:0;
}

img {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
}


.btn {
    display: inline-block;
    text-decoration: none;
    color: #3600c9;
    background-color: #ffffff;
    padding: 15px 40px;
    border: 2px solid #3600c9;
    font-weight: 700;
    box-shadow: 2px 5px 4px 4px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
}
.btn:hover {
    border: none;
    color: #ffffff;
    background-color: #3600c9;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li {
    display: flex;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    padding: 17px 15px;
    background-color: rgb(197, 197, 197);
    color: #3a3939;
    font-weight: 600;
}
nav ul li a.active {
    background-color:  rgb(214, 214, 214);
}
nav ul li a:hover {
    background-color:  rgb(172, 167, 167) ;
}
hr {
    margin-top: 30px;
}

.container{
    max-width: 1333px;
    margin: 0 auto;
    padding: 20px;
}

.parallax{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.parallax-1{
    background-image: url("./images/tlo1.jpg");
}
.parallax-2{
    background-image: url("./images/tlo2.jpg");
}
.gradient{
    background-image: linear-gradient(120deg,#bdc3c7,#415b75  );
}
@media only screen and (max-width: 768px){
    nav ul {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
       justify-content: center;
       font-size: 12px;
    }

    nav ul li {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .parallax{
        height:200px;
        background-attachment:scroll;
    }
}